/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}
body {
padding-top:100px; }
