<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">About ISPCU</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<p>This ISP consumers union shall be a grass-roots organization, powered by collective leverage, and established to push the oligopoly of ISPs to act in the interests of their consumers. Members of the union will openly and democratically define the interests it would like to serve and the means of achieving specific ends.</p>

				<p>Examples Goals the Union May Pursue: Better service, lower prices, resolve disputes and represent the will of its members through mediation, public awareness, lobbying and the courts. We could also facilitate and fund the creation of non-profit, cooperative ISPs as a means of pushing competition in markets. (We would need to treat established co-op ISPs like any other ISP to prevent a conflict of interest.)</p>

				<p>The union’s power can be generated from three sources: political, legal, and monetary. This power will necessarily be limited by the union’s size. Union members should therefore seek to achieve goals that are both in proportion to their size and which enhance the union’s ability to achieve larger goals over time.</p>

				<p>For most ISP consumers there are no, or very few alternatives in any given market. Forgoing service for many is neither tolerable nor possible due to reliance or contract. This leaves ISPs in a position to charge what they wish while providing only enough service to keep consumers reliant on them. ISPs can change terms of service, add fees, and treat customers with little regard almost without consequence. With competition absent consumers are powerless as individuals but to pay what the ISPs demand. But if banded together in large enough numbers, we can push back by collectively refusing to be silent. Obviously our effectiveness will be dictated by our size, collective will, and how palatable a particular demand is to an ISP.</p>
			</div>
        </div>
    </div>
</div>
