<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Contact</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<p></p>
			</div>
        </div>
    </div>
</div>
