<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Contact</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<p>Have a question? Just shoot us an email, and one of us will get back to you as soon as we can. Thanks!</p>
				
				<p><b><a href="mailto:info@ispcu.org">info@ISPCU.org</a></b>:    General questions about the organization.</p>
				
				<p><b><a href="mailto:volunteer@ispcu.org">volunteer@ISPCU.org</a></b>:    Open volunteer positions, other questions related to volunteering.</p>
				
				<p><b><a href="mailto:development@ispcu.org">development@ISPCU.org</a></b>:    Questions about front-end/back-end of the site, servers, report problems, etc.</p>
				
				<p><b><a href="mailto:legal@ispcu.org">legal@ISPCU.org</a></b>:    Anything and everything related to legal matters.</p>
			</div>
        </div>
    </div>
</div>
