    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>FIGHTING AGAINST ISP MALPRACTICE</h1>
                        <h3>The ISP Consumers Union has been established to represent, protect, and promote the interests of broadband ISP consumers and ensure that the broadband ISP market remains vibrantly competitive, innovative, and responsive to consumer demand.</h3><br>
                        <a class="learn-more" href="#">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <div class="intro-header-liner"><div class="ihl-inner">WHY TREAT YOUR CUSTOMER’S WELL IF YOU ARE THE ONLY OPTION?</div></div>


    <!-- /.intro-header -->

    <!-- Begin test Form -->


    <div class="row" ng-controller="VolunteerController">
        <div class="col-lg-8 col-lg-offset-2">
            <form >
                <input type="text" ng-model="volunteer.name" placeholder="name">
                <input type="text" ng-model="volunteer.email" placeholder="email">
                <input type="text" ng-model="volunteer.skill" placeholder="skill">
                <button ng-click="volunteerFunc(volunteer)">Volunteer!</button>
            </form>
        </div>
    </div>

    <!-- End Test Form -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-xs-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Updates</h2>
                    <h3 class="section-sub-heading">Insert Title Here</h3>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
                <div class="col-xs-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Updates</h2>
                    <h3 class="section-sub-heading">Insert Title Here</h3>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

        <div class="content-section-b">

        <div class="container">

            <div class="row pre-footer">
                <div class="column-header"><center><div class="hidden-title">About ISPCU</div><img src="images/about-header.png"></center></div>

                <div class="col-md-4">
                    <div class="clearfix"></div>
                    <div class="white-box"></div>
                </div>
                <div class="col-md-8">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Learn Where It All Began</h2>
                    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
