<header class="page-micro--large page-head--masthead--no-bg band--dark-blue">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item">
                <div class="palm-one-whole lap-and-up-one-whole">
                    <div class="page-head__text text-center">
                        <h1>What we are.</h1>
                    </div>
                    <div class="page-micro--small">
                        <p>From its early days as a research experiment of the U.S. military's Defense Advanced Research Projects Agency, the Internet has grown and evolved to become the dominant means by which we share knowledge and ideas and do business at every scale.  No longer accessible only to a select few, with nearly half the world's population online, access to the Internet has become essential to modern life.</p>
                        <p>The companies which have invested the enormous fortunes needed to make this global connectedness possible have rightly profited handsomely from it.  Unfortunately, as competition in the market has become less vibrant, those same companies have become increasingly focused on profit incentives at the expense of broader considerations which concern the public at large.  Without a counterbalance, this dysfunctional focus on profits threatens to undermine the integrity and utility of the Internet as a global communications resource.</p>
                        <p>The ISP Consumers Union has been established to represent, protect, and promote the interests of broadband ISP consumers and ensure that the broadband ISP market remains vibrantly competitive, innovative, and responsive to consumer demand.</p>
                        <p>To that end, the ISP Consumers Union will:</p>
                        <ul class="list--number">
							<li>Engage in and support activities which increase understanding of broadband ISP consumer issues and the importance of the Internet by the public, policy-makers, and the broadband industry itself;</li>
							<li>Support the creation and maintenance of a legal and business environment which ensures that the high costs of building and maintaining Internet infrastructure do not give a disproportionate and unfair advantage to established providers, and which rewards competition and innovation in the broadband ISP market;</li>
							<li>Support litigation in the public interest to preserve, protect, promote, and extend broadband ISP consumer rights; and</li>
							<li>Consistent with its founding principles, encourage and support creative and beneficial use of broadband access to the Internet by consumers to expand the market for ISP services.</li>
						</ul>

                        <p>ISP Consumers Union</p>
                        <p>August 16, 2014</p>
                        </div>
                        <!--<br>-->
                        <!--br<a class="learn-more" href="#">Learn More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--<div class="layout">-->
    <!--<div class="layout__item">-->
        <!--<div class="palm-one-whole">-->
            <!--<div class="page-head__liner text-center">-->
                <!--<h1>WHY TREAT YOUR CUSTOMER’S WELL IF YOU ARE THE ONLY OPTION?</h1>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <div class="layout--center">
                    <div class=" layout__item palm-one-whole lap-and-up-one-half text-center">
                        <h1 class="heading big-blue-header text-capitalize">What we'll do.</h1>
                    </div>
                </div>
                <div class="page-micro--small">
                    <div class="layout__item palm-one-whole lap-and-up-one-full">
                        <!--<div class="clearfix"></div>-->
                        <!--<h2 class="heading text-color--blue">Learn Where It All Began</h2>-->
                        <!--<hr/>-->
                        <p>Organize huge contracts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-micro--large band--blue">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <div class="layout--center">
                    <div class=" layout__item palm-one-whole lap-and-up-one-half text-center">
                        <h1 class="heading big-blue-header text-capitalize">How we'll start.</h1>
                    </div>
                </div>
                <div class="page-micro--small">
                    <div class="layout__item palm-one-whole lap-and-up-one-full">
                        <p>ive a breakdown of the great voice exodus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-micro--large band--white">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <div class="clearfix"></div>
                <h5 class="heading text-color--dark-blue text-capitalize">Who we are.</h5>
                <hr/>
                <br/>
					
				<div class="layout--flush expander-section">
                <div class="layout__item palm-one-whole lap-and-up-one-third text-center">
					
					<div class="expander member--management">
						<div class="expander--infopanel__first">CEO</div>
						<div class="expander--infopanel__second">Mark Swingler</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>

					</div><div class="layout__item palm-one-whole lap-and-up-one-third text-center">
						
						<div class="expander member--management">
						<div class="expander--infopanel__first">Treasurer</div>
						<div class="expander--infopanel__second">Sean Qureshi</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-third text-center">
						
						<div class="expander member--management">
						<div class="expander--infopanel__first">Secretary</div>
						<div class="expander--infopanel__second">George D.</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div>
					</div>
					
                <br/>

					
				<div class="layout member-section">
					
					<div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--legal">
						<div class="expander--infopanel__first">Legal Lead (Interim)</div>
						<div class="expander--infopanel__second">Jeremy Zielinski</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
				
					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--developer">
						<div class="expander--infopanel__first">Lead Developer</div>
						<div class="expander--infopanel__second">Jeremy Russell</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
				
					</div>
					
				</div>
					
					<br/>
				<div class="layout--flush member-section">
                <div class="layout__item palm-one-whole lap-and-up-one-quarter text-center">
					
					<div class="expander member--developer">
						<div class="expander--infopanel__first">Developer</div>
						<div class="expander--infopanel__second">Joel Felsinger</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-quarter text-center">
						
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Developer</div>
						<div class="expander--infopanel__second">Antonio Torres</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-quarter text-center">
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Developer</div>
						<div class="expander--infopanel__second">Kyle Wood</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-quarter text-center">
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Developer</div>
						<div class="expander--infopanel__second">Hayden Bickerton</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					</div>
					</div>
					
					
					<br/>
					
					
				

            </div>
        </div><br/>
        <hr/>
    </div>
</div>

<!--MSignup/Signin page button section-->
<div class="page-micro--small band--blue">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <h2 class="text-color--white" style="margin-bottom: 0px;font-weight: 500;">Want to be a member?</h2>
                <h4 class="heading-sub text-color--white" style="font-size: 16px;letter-spacing: 1px;font-weight:300;">For the moment, membership gives us an idea of how many individuals want to change ISPs, and which regions of the US we need to target first. We have plans to add things to membership, such as...</h4>
            </div>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
                <a href="/signup" class="btn btn--secondary" style="color:#333;">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<div class="page-micro--large band--white">
    <div class="wrapper">
        <div class="layout">

            <div class="layout__item palm-one-whole lap-and-up-one-whole">
            <h3 class="text-color--gray text-bold">Want to help?</h3>
                <p>Great, because we could use some help. Shoot us an email with your resume/skills/credentials at ---insert email address--- and we'll get back to you shortly.</p>
                <p>At the moment we need some assistance with:</p>
                
                <ul>
					<li>Public Relations</li>
					<li>Lobbying</li>
					<li>ISP Backbone Consultant</li>
					<li>Legal Operations</li>
				</ul>

                <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
                    <a href="/volunteers" class="btn btn--secondary" style="color:#333;">Volunteer</a>
				</div>

            </div>
					
        </div>
        
    </div>
</div>
<div class="page-micro--small band--blue">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <h2 class="text-color--white" style="margin-bottom: 0px;font-weight: 500;">Want us to keep you updated?</h2>
                <h4 class="heading-sub text-color--white" style="font-size: 16px;letter-spacing: 1px;font-weight:300;">Enter your email and we'll shoot you a message whenever we have news. No spam, and we won't share it with anyone.</h4>
                <div class="layout">
                    <form>
                        <div class="layout__item palm-one-whole lap-and-up-four-fifths">
							<input type="email" name="email" placeholder="email@example.com">
                        </div><div class="layout__item palm-one-whole lap-and-up-one-fifth">
                            <a href="#" class="btn btn--expand btn--secondary" style="color:#000;height: 2.3125rem;line-height: 2.3125rem;padding: 0px;margin: 0px;">Submit</a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
