<header class="page-head--masthead" style="background-image: none !important; background-color: #4d9cc6">
    <div class="wrapper wrapper--wide">
        <div class="layout--middle">
            <div class="layout__item">
                <div class="palm-one-whole lap-and-up-one-whole">
                    <div class="page-head__text text-center">
                        <h1>What we are.</h1>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">From its early days as a research experiment of the U.S. military's Defense Advanced Research Projects Agency, the Internet has grown and evolved to become the dominant means by which we share knowledge and ideas and do business at every scale.  No longer accessible only to a select few, with nearly half the world's population online, access to the Internet has become essential to modern life.</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">The companies which have invested the enormous fortunes needed to make this global connectedness possible have rightly profited handsomely from it.  Unfortunately, as competition in the market has become less vibrant, those same companies have become increasingly focused on profit incentives at the expense of broader considerations which concern the public at large.  Without a counterbalance, this dysfunctional focus on profits threatens to undermine the integrity and utility of the Internet as a global communications resource.</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">The ISP Consumers Union has been established to represent, protect, and promote the interests of broadband ISP consumers and ensure that the broadband ISP market remains vibrantly competitive, innovative, and responsive to consumer demand.</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">To that end, the ISP Consumers Union will:</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">1.  Engage in and support activities which increase understanding of broadband ISP consumer issues and the importance of the Internet by the public, policy-makers, and the broadband industry itself;</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">2.  Support the creation and maintenance of a legal and business environment which ensures that the high costs of building and maintaining Internet infrastructure do not give a disproportionate and unfair advantage to established providers, and which rewards competition and innovation in the broadband ISP market;</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">3.  Support litigation in the public interest to preserve, protect, promote, and extend broadband ISP consumer rights; and</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">4.  Consistent with its founding principles, encourage and support creative and beneficial use of broadband access to the Internet by consumers to expand the market for ISP services.</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">ISP Consumers Union</h3>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">August 16, 2014</h3>
                        <!--<br>-->
                        <!--br<a class="learn-more" href="#">Learn More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--<div class="layout">-->
    <!--<div class="layout__item">-->
        <!--<div class="palm-one-whole">-->
            <!--<div class="page-head__liner text-center">-->
                <!--<h1>WHY TREAT YOUR CUSTOMER’S WELL IF YOU ARE THE ONLY OPTION?</h1>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <div class="layout--center">
                    <div class=" layout__item palm-one-whole lap-and-up-one-half text-center">
                        <h1 class="heading big-blue-header">What we'll do.</h1>
                    </div>
                </div>
                <div class="page-micro--small">
                    <div class="layout__item palm-one-whole lap-and-up-one-full">
                        <!--<div class="clearfix"></div>-->
                        <!--<h2 class="heading text-color--blue">Learn Where It All Began</h2>-->
                        <!--<hr/>-->
                        <p>Organize huge contracts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="page-head--masthead" style="background-image: none !important; background-color: #4d9cc6">
    <div class="wrapper wrapper--wide">
        <div class="layout--middle">
            <div class="layout__item">
                <div class="palm-one-whole lap-and-up-one-whole">
                    <div class="page-head__text text-center">
                        <h1 style="width: 35%; ">How we'll start.</h1>
                        <h3 style="font-size: 14px; text-align: left; text-transform: none">Give a breakdown of the great voice exodus</h3>
                        <!--<br>-->
                        <!--br<a class="learn-more" href="#">Learn More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="page-micro--large band--white">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <div class="clearfix"></div>
                <h5 class="heading text-color--dark-blue">Who we are.</h5>
                <hr/>
                <h3 class="heading-sub">Org Chart</h3>
                <hr/>
                <p>--Title - Pic? - Why you volunteered.</p>
            </div>
        </div>
    </div>
</div>
<div class="page-micro--small band--blue">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <h2 class="text-color--white" style="margin-bottom: 0px;font-weight: 500;">Want us to keep you updated?</h2>
                <h4 class="heading-sub text-color--white" style="font-size: 16px;letter-spacing: 1px;font-weight:300;">Enter your email and we'll shoot you a message whenever we have news. No spam, and we won't share it with anyone.</h4>
                <div class="layout">
                    <form>
                        <div class="layout__item palm-one-whole lap-and-up-four-fifths">
							<input type="email" name="email" placeholder="email@example.com">
                        </div>
                        <div class="layout__item palm-one-whole lap-and-up-one-fifth">
                            <a href="#" class="btn btn--expand btn--secondary" style="height: 2.3125rem;line-height: 2.3125rem;padding: 0px;margin: 0px;">Submit</a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
