<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Members</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<p>Members get VIP access to our bi-monthly potluck dinners and exclusive mittens, made by hand by the CEO of ISPCU.</p>
				
				<p>Cupcake ipsum dolor sit amet. Cupcake muffin candy canes I love tiramisu pudding dragée. Chocolate cake sweet roll marshmallow macaroon I love chocolate cake marzipan sweet. Topping danish biscuit marshmallow gummies candy chupa chups cookie. Liquorice liquorice pudding sugar plum. Chocolate cake sesame snaps chocolate cake cheesecake I love croissant ice cream sweet. Tart bonbon bear claw muffin cupcake. Dessert dragée jelly I love cookie cake. Donut gingerbread gummies halvah gummi bears halvah donut donut.</p>
				
				<p>Jujubes jelly sweet roll apple pie. Cake I love donut jelly-o jujubes liquorice tart cake. Fruitcake toffee I love gummies jelly cookie lollipop chocolate. Jujubes sugar plum I love. Chocolate carrot cake chocolate bar oat cake muffin oat cake I love tiramisu tiramisu. Dragée tart gummies cake chupa chups soufflé ice cream dragée. Unerdwear.com sugar plum jelly beans.</p>
				
				<p>Oat cake fruitcake bonbon ice cream sesame snaps jelly applicake. Marzipan bonbon I love chupa chups pudding jelly beans lollipop I love. Ice cream jelly beans I love jelly. Applicake chocolate cheesecake. Tart carrot cake carrot cake powder gingerbread gummies. Soufflé tootsie roll tart jujubes lemon drops tart dragée. Marzipan lollipop cupcake donut unerdwear.com I love.</p>
				
				<p>Chupa chups candy canes liquorice carrot cake I love croissant sesame snaps tootsie roll I love. Bear claw jelly beans cookie. Chocolate muffin toffee powder I love chocolate bar wafer apple pie applicake. Caramels sweet roll bear claw ice cream. Candy canes biscuit chupa chups. Biscuit bear claw marshmallow tart tiramisu. Donut gummi bears cotton candy icing cotton candy chocolate cake cotton candy ice cream. Dragée brownie I love.</p>
			</div>
        </div>
    </div>
</div>
