<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Organization</h1></h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<div class="layout--flush expander-section">
                <div class="layout__item palm-one-whole lap-and-up-one-half text-center">
					
					<div class="expander member--management">
						<div class="expander--infopanel__first">CEO</div>
						<div class="expander--infopanel__second">George Isaac</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>

					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--legal">
						<div class="expander--infopanel__first">Legal Lead</div>
						<div class="expander--infopanel__second">Jeremy Zielinski</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					</div>
					</div>
					
                <br/>

					
				<div class="layout member-section">
					
					<div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--developer">
						<div class="expander--infopanel__first">Lead Developer</div>
						<div class="expander--infopanel__second">Jeremy Russell</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
				
					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Frontend Developer</div>
						<div class="expander--infopanel__second">Hayden Bickerton</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
				
					</div>
					
				</div>
					
					<br/>
				<div class="layout--flush member-section">
					<div class="layout__item palm-one-whole lap-and-up-one-third text-center">
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Android Developer</div>
						<div class="expander--infopanel__second">Kyle Wood</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-third text-center">
					
					<div class="expander member--developer">
						<div class="expander--infopanel__first">System Admin</div>
						<div class="expander--infopanel__second">Nick Bushor</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-third text-center">
						
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">System Admin</div>
						<div class="expander--infopanel__second">Jakob Charles</div>
						<div class="expander--infopanel__third"><span><p>Cupcake ipsum dolor sit amet jelly beans tiramisu liquorice. Cake sweet marshmallow. Carrot cake danish fruitcake candy canes chocolate cake I love chocolate marzipan toffee.</p></span></div>
						</div>
					
					
					
					</div>
					</div>
					
					
					<br/>
					
					
				

            </div>
        </div>
    </div>
</div>
