<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Organization</h1></h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">
				<div class="layout expander-section">
                <div class="layout__item palm-one-whole lap-and-up-one-half text-center">
					
					<div class="expander member--single member--management">
						<div class="expander--infopanel__first">CEO</div>
						<div class="expander--infopanel__second">George Isaac</div>
						<div class="expander--infopanel__third"><span><p>George Isaac is the Vice President and Co-Founder of a firm that specializes in quality improvement, automation, and data science and analysis for multiple industries including the graphic arts, chemical, financial, health, and manufacturing industries. He is an expert in study design, process improvement, and data visualization. He also codes in multiple back-end languages. George is an avid hockey player and spends free time cooking.</p></span></div>
						</div>

					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--developer">
						<div class="expander--infopanel__first">Lead Developer</div>
						<div class="expander--infopanel__second">Jeremy Russell</div>
						<div class="expander--infopanel__third"><span><p>Jeremy Russell has been a denizen of the net for most of his life. Being the primary resource in everything from learning how to work and get along in life, to meeting new people from across the globe and expanding his horizons. He feels passionate about the internet being a resource that needs the people to protect it. He’s worked in technology fields most of his career. Over the last two years he’s taken his hobby level of programming experience and turned it into a professional asset (which of course could not have been done without the internet).</p></span></div>
						</div>
					
					</div>
					</div>
					
                <br/>

					
				<div class="layout member-section">
					
					<div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--single member--developer">
						<div class="expander--infopanel__first">Frontend Developer</div>
						<div class="expander--infopanel__second">Hayden Bickerton</div>
						<div class="expander--infopanel__third"><span><p>Hayden Bickerton is a PC technician and freelance website developer. He started developing websites 4 years ago as a side-job, and now it's become his main job. When he's not working, he spends his time on various projects on and off the computer. He manages the front-end side of the website, and the ISPCU wiki. Hayden's current and future career is dependent on the internet, so he'd like to keep it as healthy as possible.</p></span></div>
						</div>
					
				
					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">Lead Sysadmin</div>
						<div class="expander--infopanel__second">Kyle Wood</div>
						<div class="expander--infopanel__third"><span><p>Kyle Wood is a student majoring in Computer Science and Electrical Engineering. He has been in the Android development scene for four years under the username of DemonWav. He also spends his time working on Minecraft plugins, and other random projects. He is experienced in many different programming languages, and spends his days hacking anything he can. Kyle is very well versed in the Linux environment. When he's not coding he likes to play spades and Catan, or mess with one of his many Rubik's cubes.</p></span></div>
						</div>
					
				
					</div>
					
				</div>
					
					<br/>
				<div class="layout member-section">
					<div class="layout__item palm-one-whole lap-and-up-one-half text-center">
					
					<div class="expander member--developer">
						<div class="expander--infopanel__first">System Admin</div>
						<div class="expander--infopanel__second">Nick Bushor</div>
						<div class="expander--infopanel__third"><span><p>Nick Bushor has not turned in his bio yet :/</p></span></div>
						</div>
					
					
					
					</div><div class="layout__item palm-one-whole lap-and-up-one-half text-center">
						
						
						<div class="expander member--developer">
						<div class="expander--infopanel__first">System Admin</div>
						<div class="expander--infopanel__second">Jakob Charles</div>
						<div class="expander--infopanel__third"><span><p>Jakob Charles has not turned in his bio yet :/</p></span></div>
						</div>
					
					
					
					</div>
					</div>
					
					
					<br/>
					
					
				

            </div>
        </div>
    </div>
</div>
