<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Volunteer</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">

				<h3 class="text-color--gray text-bold">Want to help?</h3>
                <p>Great, because we could use some help. Shoot us an email with your resume/skills/credentials at <a href="mailto:volunteer@ispcu.org">volunteer@ISPCU.org</a> and we'll get back to you shortly.</p>
                <p>At the moment we need some assistance with:</p>
                
                <ul>
					<li>Graphic Design</li>
					<li>Web/User Interface Design</li>
					<li>Platform Development</li>
					<li>Public Relations</li>
					<li>Writers (The more the merrier)</li>
					<li>ISP Backbone Consultant</li>
					<li>Legal Operations</li>
				</ul>
			
			</div>
        </div>
    </div>
</div>
