<div class="page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-center">
				<h1 class="heading text-color--blue">Volunteer</h1>
            </div>
            <hr/>
            <div class="layout__item palm-one-whole lap-and-up-one-whole text-left">

					<h3 class="text-color--gray text-bold">Want to help?</h3>
                <p>Great, because we could use some help. Shoot us an email with your resume/skills/credentials at ---insert email address--- and we'll get back to you shortly.</p>
                <p>At the moment we need some assistance with:</p>
                
                <ul>
					<li>Public Relations</li>
					<li>Lobbying</li>
					<li>ISP Backbone Consultant</li>
					<li>Legal Operations</li>
				</ul>
					
			
			</div>
        </div>
    </div>
</div>


<!-- Begin volunteer Form -->

<div class="page-micro--small band--blue">
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item palm-one-whole lap-and-up-one-whole">
                <h2 class="text-color--white" style="margin-bottom: 0px;font-weight: 500;">Want us to keep you updated?</h2>
                <h4 class="heading-sub text-color--white" style="font-size: 16px;letter-spacing: 1px;font-weight:300;">Enter your email and we'll shoot you a message whenever we have news. No spam, and we won't share it with anyone.</h4>
                <div class="layout" ng-controller="VolunteerController">
                    <form >
                        <input type="text" ng-model="volunteer.name" placeholder="name">
                        <input type="text" ng-model="volunteer.email" placeholder="email">
                        <input type="text" ng-model="volunteer.skill" placeholder="skill">
                        <button ng-click="volunteerFunc(volunteer)">Volunteer!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End volunteer Form -->
