<footer class="page-foot page-micro--large">
    <div class="wrapper">
        <div class="layout--middle">
            <div class="layout__item palm-one-whole lap-and-up-one-fifth">
                <div class="page-foot__logo text-center"><h1>ISPCU</h1></div>
            </div><div class="layout__item palm-one-whole lap-and-up-four-fifths">
                <div class="layout">
                    <div class="layout__item palm-one-whole lap-and-up-one-third">
                        <ul class="page-foot__list">
                            <li class="page-foot__list__item">
                                <h6>Site</h6>
                            </li>
                            <li class="page-foot__list__item"><a href="/about">About Us</a></li>
                            <li class="page-foot__list__item"><a href="/organization">Organization</a></li>
                            <li class="page-foot__list__item"><a href="/volunteer">Volunteer</a></li>
                        </ul>
                    </div><div class="layout__item palm-one-whole lap-and-up-one-third">
                        <ul class="page-foot__list">
                            <li class="page-foot__list__item">
                                <h6>Social</h6>
                            </li>
                            <li class="page-foot__list__item"><a href="#">Reddit</a></li>
                            <li class="page-foot__list__item"><a href="#">GitHub</a></li>
                            <li class="page-foot__list__item"><a href="#">Twitter</a></li>
                        </ul>
                    </div><div class="layout__item palm-one-whole lap-and-up-one-third">
                        <ul class="page-foot__list">
                            <li class="page-foot__list__item">
                                <h6>Contact</h6>
                            </li>
                            <li class="page-foot__list__item"><a href="/volunteers">Volunteer</a></li>
                            <li class="page-foot__list__item"><a href="mailto:info@ispcu.org">Info@ISPCU.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
