<nav class="site-nav site-nav--fixed--top">
    <div class="wrapper wrapper--wide">
        <a href="/" class="site-nav__home">
            <div class="site-nav__logo text-center">
                <h1>ISPCU</h1>
            </div>
            
        </a>
        <div class="site-nav__sub-logo">
                <h3>ISP CONSUMERS UNION</h3>
            </div>
        <li class="dropdown site-nav__list">
            <input type="checkbox" />
            <a href="#" data-toggle="dropdown">Menu</a>
            <ul class=" dropdown-menu">
                <li class="site-nav__item"><a href="/about" class="site-nav__link  site-nav__about">About</a></li>
                <li class="site-nav__item"><a href="/organization" class="site-nav__link  site-nav__organization">Organization</a></li>
                <li class="site-nav__item"><a href="/volunteer" class="site-nav__link  site-nav__volunteer">Volunteer</a></li>
            </ul>
        </li>
        </ul>
    </div>
</nav>
